@use '0-settings/variables' as *;

/*
  Syntax Highlighting
*/

.highlight {
  border-radius: 4px;
  color: $white;
  background: $blue-dark;

  .highlighter-rouge & {
    background: rgb(93, 93, 93);
  }

  .c     { color: #6a9955; font-style: italic } // Comment
  .err   { color: #f48771; background-color: transparent } // Error
  .k     { color: #c586c0; font-weight: normal } // Keyword
  .o     { color: #d4d4d4; font-weight: normal } // Operator
  .cm    { color: #6a9955; font-style: italic } // Comment.Multiline
  .cp    { color: #6a9955; font-weight: normal } // Comment.Preproc
  .c1    { color: #6a9955; font-style: italic } // Comment.Single
  .cs    { color: #6a9955; font-weight: normal; font-style: italic } // Comment.Special
  .gd    { color: #f48771; background-color: transparent } // Generic.Deleted
  .gd .x { color: #f48771; background-color: transparent } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #f48771 } // Generic.Error
  .gh    { color: #569cd6 } // Generic.Heading
  .gi    { color: #b5cea8; background-color: transparent } // Generic.Inserted
  .gi .x { color: #b5cea8; background-color: transparent } // Generic.Inserted.Specific
  .go    { color: #808080 } // Generic.Output
  .gp    { color: #808080 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #569cd6 } // Generic.Subheading
  .gt    { color: #f48771 } // Generic.Traceback
  .kc    { color: #569cd6; font-weight: normal } // Keyword.Constant
  .kd    { color: #569cd6; font-weight: normal } // Keyword.Declaration
  .kp    { color: #569cd6; font-weight: normal } // Keyword.Pseudo
  .kr    { color: #569cd6; font-weight: normal } // Keyword.Reserved
  .kt    { color: #4ec9b0; font-weight: normal } // Keyword.Type
  .m     { color: #b5cea8 } // Literal.Number
  .s     { color: #ce9178 } // Literal.String
  .na    { color: #9cdcfe } // Name.Attribute
  .nb    { color: #4ec9b0 } // Name.Builtin
  .nc    { color: #4ec9b0; font-weight: normal } // Name.Class
  .no    { color: #4ec9b0 } // Name.Constant
  .ni    { color: #c586c0 } // Name.Entity
  .ne    { color: #4ec9b0; font-weight: normal } // Name.Exception
  .nf    { color: #dcdcaa; font-weight: normal } // Name.Function
  .nn    { color: #4ec9b0 } // Name.Namespace
  .nt    { color: #569cd6 } // Name.Tag
  .nv    { color: #9cdcfe } // Name.Variable
  .ow    { color: #569cd6; font-weight: normal } // Operator.Word
  .w     { color: #d4d4d4 } // Text.Whitespace
  .mf    { color: #b5cea8 } // Literal.Number.Float
  .mh    { color: #b5cea8 } // Literal.Number.Hex
  .mi    { color: #b5cea8 } // Literal.Number.Integer
  .mo    { color: #b5cea8 } // Literal.Number.Oct
  .sb    { color: #ce9178 } // Literal.String.Backtick
  .sc    { color: #ce9178 } // Literal.String.Char
  .sd    { color: #ce9178 } // Literal.String.Doc
  .s2    { color: #ce9178 } // Literal.String.Double
  .se    { color: #d7ba7d } // Literal.String.Escape
  .sh    { color: #ce9178 } // Literal.String.Heredoc
  .si    { color: #d7ba7d } // Literal.String.Interpol
  .sx    { color: #ce9178 } // Literal.String.Other
  .sr    { color: #d16969 } // Literal.String.Regex
  .s1    { color: #ce9178 } // Literal.String.Single
  .ss    { color: #c586c0 } // Literal.String.Symbol
  .bp    { color: #4ec9b0 } // Name.Builtin.Pseudo
  .vc    { color: #9cdcfe } // Name.Variable.Class
  .vg    { color: #9cdcfe } // Name.Variable.Global
  .vi    { color: #9cdcfe } // Name.Variable.Instance
  .il    { color: #b5cea8 } // Literal.Number.Integer.Long
}

/* Language-specific improvements */

// CLI/Bash/Shell highlighting
.language-cli,
.language-bash,
.language-shell,
.language-sh {
  .highlight & {
    .nb { color: #dcdcaa } // Built-in commands (echo, cd, etc.)
    .nv { color: #9cdcfe } // Variables ($HOME, $PATH)
    .s, .s1, .s2 { color: #ce9178 } // Strings
    .c, .c1 { color: #6a9955 } // Comments
  }
}

// Bicep highlighting
.language-bicep {
  .highlight & {
    .k, .kd, .kr { color: #569cd6 } // Keywords (resource, param, var, output)
    .kt { color: #4ec9b0 } // Types (string, int, bool, array, object)
    .na { color: #9cdcfe } // Property names
    .s, .s1, .s2 { color: #ce9178 } // Strings
    .nf { color: #dcdcaa } // Function names
    .m, .mi, .mf { color: #b5cea8 } // Numbers
    .c, .c1 { color: #6a9955 } // Comments
    .o { color: #d4d4d4 } // Operators
  }
}